<nav class="navbar">
    <div id="navtitlecontainer" class="navtitlecontainer">
        <p class="navtitle">{{title}}</p>
    </div>
</nav>

<div id="appcontent" class="appcontent">
    {{yield}}
</div>

<div id="navoverlay" data-ember-modal-dialog-overlay="" class="navoverlay lean-modal"></div>

{{#view "naviconclickable"}}
<i class="mdi-navigation-menu" id="navicon"></i>
{{/view}}