<nav class="navbar">
    <div id="navtitlecontainer" class="navtitlecontainer">
        <p class="navtitle">{{title}}</p>
    </div>
</nav>

<div id="appcontent" class="appcontent">
    {{yield}}
</div>

<div id="navoverlay" data-ember-modal-dialog-overlay="" class="navoverlay lean-modal"></div>

<div id="sidenav" class="sidenav">
    <div class="sidenavoptions">
        {{navigation-item itemname="Navigation example" linkname="navexample" pageTitle=title}}
        <!-- REMEMBER TO SET THE ITEMNAME AND LINKNAME PROPERTIES OF YOUR NAVIGATION ITEM. The
        itemname property is the text that will be displayed in the sidenav, and should correspond
        to the title of your page's template file's navigation-component, and the linkname
        is the name of your page's route, as set up in router.js -->
    </div>
</div>

{{#view "naviconclickable"}}
    <i class="mdi-navigation-menu navicon" id="navicon"></i>
{{/view}}