<nav class="navbar tallnav">
    <div class="tallnavtitlediv">    
    </div>
</nav>

<div class="row tallnavtitle">
    {{md-input value=value label=label class="col s12 headerinput" validate=false}}
</div>

{{#link-to previousPage}}
    <i class="mdi-navigation-arrow-back navicon" id="navicon"></i>
{{/link-to}}

