@import 'materialize';
@import 'ember-cli-materialize';

@mixin transition($spec...) {
    -webkit-transition: $spec;
    -moz-transition: $spec;
    -o-transition: $spec;
    -ms-transition: $spec;
    transition: $spec;
}

@mixin box-shadow($spec...) {
    -webkit-box-shadow: $spec;
    -moz-box-shadow: $spec;
    -o-box-shadow: $spec;
    -ms-box-shadow: $spec;
    box-shadow: $spec;
}

@mixin flex-direction($spec...) {
    -webkit-flex-direction: $spec;
    -moz-flex-direction: $spec;
    -o-flex-direction: $spec;
    -ms-flex-direction: $spec;
    flex-direction: $spec;
}
$sidenavwidth: 260px;
$sidenavblurdistance: 25px;
$accent: #00bfa5;

.navtitle {
    font-size:1.5rem !important;
    color:white;
    line-height:64px;
    margin:0;
    float: left;
}

.navtitlecontainer {
    float: left;
    padding-left: 82px;
    @include transition(padding-left 0.30s ease 0.15s);
}

.navtitlecontaineractive {
    padding-left: $sidenavwidth + 16 + 18;
}

body {
    overflow: hidden;
}

.navbar {
    background-color: #3f51b5;
    min-height: 64px;
}

.navoverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    @include transition(opacity 0.30s ease 0.15s, visibility 0.30s ease 0.15s);
}

.navoverlayactive
{
    visibility: visible;
    opacity: 0.3;
}

.navicon {
    position: absolute;
    top: 10px;
    left: 18px;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    @include transition(color 0.30s ease 0.15s);
}

.naviconactive {
    color: $accent;
}

.sidenav {
    position: absolute;
    background-color: white;
    top: 0px;
    left: - $sidenavwidth - $sidenavblurdistance;
    min-height: 100vh;
    opacity: 1;
    @include box-shadow(0px 0px $sidenavblurdistance 0px rgba(0,0,0,0.3));
    @include transition(left 0.30s ease 0.15s);
}

.sidenavactive {
    left: 0px;
}

.sidenavcell {
    font-weight: 500;
    font-size: 13px;
    color: $accent;
    min-width: $sidenavwidth;
    height: 48px;
    vertical-align: middle;
    padding-left: 16px;
    cursor: pointer;
    display: table-cell;
}

.sidenavcell span {
    opacity: 100%;
    height: 10px;
    margin: auto;
}

.sidenavoptions {
    width: 100%;
    margin-top: 73px;
    display: table;
}

.sidenavcell.active {
    background-color: rgba($accent, 0.1);
    width: 100%;
    color: $accent;
}

.appcontent {
    margin-left: 0px;
    @include transition(margin-left 0.30s ease 0.15s);
}

.appcontentactive {
    margin-left: $sidenavwidth;
}

.headerinput input {
    font-size: 38px;
    padding-bottom: 5px;
    padding-top: 10px;
    min-height: 50px;
    color: white;
}

.headerinput input.valid {
    border-bottom: 1px solid rgba(white, 0.3);
    box-shadow:  rgba(white, 0.3) 0px 1px 0px 0px;
}

.headerinput input:focus {
    border-bottom: 1px solid rgba($accent, 0.87) !important;
    box-shadow:  rgba($accent, 0.87) 0px 1px 0px 0px !important;
}

.headerinput label {
    top: 25px;
    font-size: 25px;
    color: rgba(white, 0.45)
}

.headerinput label.active {
    top: 20px;
    font-size: 13px;
}

.tallnav {
    min-height: 64px+80px;
    padding-top: 64px;
}

.tallnavtitlediv {
    min-height: 80px;
    max-height: 80px;
    bottom: 0px;
}

.tallnavtitle {
    position: absolute;
    top: 37px;
    padding-left: 82px;
    padding-right: 82px;
    width: 100vw;
}

.labeledinput {
    min-height: 50px;
    margin-top: -10px;
    padding-left: 15px;
    padding-right: 15px;
}

.labeledinput .left {
    float:left;
    min-width: 20%;
}

.labeledinput .left h5 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 13px;
}

.labeledinput .right {
    float:right;
    min-width: 60%;
}

.labeledinput .right .input-field, .labeledinput .right input {
    margin: 0;
    padding: 0;
}

.labeledinput .right input.valid {
    border-bottom: 0px solid rgba(black, 0.8);
    box-shadow:  rgba(black, 0.4) 0px 1px 0px 0px;
}

.labeledinput .right input:focus {
    border-bottom: 0px solid rgba(black, 0.8);
    box-shadow:  rgba($accent, 0.87) 0px 2px 0px 0px !important;
}

.labeledinput .right .red-text {
    display: none;
}

.centercontent {
    max-width: 860px;
    margin: 0 auto;
    padding-top: 70px;
}

.addpubbuttons {
    margin-top: 40px;
    float:right;
}

.addpubbuttons .btn {
    margin-left: 15px;
}

.featureslist {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
    height: 100%;
}

.featureslist p {
    margin-left: 12px;
}

.featureslist span {
    color: darkgray;
    font-style: italic;
}

.featureslist .btn {
    margin-right: 42px;
    float: right;
    margin-top: 10px;
}

.featureslist div {
    margin-bottom: 80px;
}