@import 'materialize';
@import 'ember-cli-materialize';

@mixin transition($spec...) {
    -webkit-transition: $spec;
    -moz-transition: $spec;
    -o-transition: $spec;
    -ms-transition: $spec;
    transition: $spec;
}

.navtitle {
    font-size:1.5rem !important;
    color:white;
    line-height:64px;
    margin:0;
    float: left;
}

.navtitlecontainer {
    float: left;
    padding-left: 82px;
    @include transition(padding-left 0.30s ease 0.15s);
}

.navbar {
    background-color: #3f51b5;
    min-height: 64px;
}

.appcontent {
    margin-left: 0px;
    @include transition(margin-left 0.30s ease 0.15s);
}
