@import 'materialize';
@import 'ember-cli-materialize';

@mixin transition($spec...) {
    -webkit-transition: $spec;
    -moz-transition: $spec;
    -o-transition: $spec;
    -ms-transition: $spec;
    transition: $spec;
}

@mixin box-shadow($spec...) {
    -webkit-box-shadow: $spec;
    -moz-box-shadow: $spec;
    -o-box-shadow: $spec;
    -ms-box-shadow: $spec;
    box-shadow: $spec;
}

$sidenavwidth: 260px;
$sidenavblurdistance: 25px;
$accent: #00bfa5;

.navtitle {
    font-size:1.5rem !important;
    color:white;
    line-height:64px;
    margin:0;
    float: left;
}

.navtitlecontainer {
    float: left;
    padding-left: 82px;
    @include transition(padding-left 0.30s ease 0.15s);
}

.navtitlecontaineractive {
    padding-left: $sidenavwidth + 16 + 18;
}

body {
    overflow: hidden;
}

.navbar {
    background-color: #3f51b5;
    min-height: 64px;
}

.navoverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    @include transition(opacity 0.30s ease 0.15s, visibility 0.30s ease 0.15s);
}

.navoverlayactive
{
    visibility: visible;
    opacity: 0.3;
}

.navicon {
    position: absolute;
    top: 10px;
    left: 18px;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    @include transition(color 0.30s ease 0.15s);
}

.naviconactive {
    color: $accent;
}

.sidenav {
    position: absolute;
    background-color: white;
    top: 0px;
    left: - $sidenavwidth - $sidenavblurdistance;
    min-height: 100vh;
    opacity: 1;
    @include box-shadow(0px 0px $sidenavblurdistance 0px rgba(0,0,0,0.3));
    @include transition(left 0.30s ease 0.15s);
}

.sidenavactive {
    left: 0px;
}

.sidenavcell {
    font-weight: 500;
    font-size: 13px;
    color: $accent;
    min-width: $sidenavwidth;
    height: 48px;
    vertical-align: middle;
    padding-left: 16px;
    cursor: pointer;
    display: table-cell;
}

.sidenavcell span {
    opacity: 100%;
    height: 10px;
    margin: auto;
}

.sidenavoptions {
    width: 100%;
    margin-top: 73px;
    display: table;
}

.sidenavcell.active {
    background-color: rgba($accent, 0.1);
    width: 100%;
    color: $accent;
}

.appcontent {
    margin-left: 0px;
    @include transition(margin-left 0.30s ease 0.15s);
}

.appcontentactive {
    margin-left: $sidenavwidth;
}

.labeledinput {
    min-height: 50px;
    margin-top: -10px;
    padding-left: 15px;
    padding-right: 15px;
}

.labeledinput .left {
    float:left;
    min-width: 20%;
}
