{{#navigation-component title='Manage Membership' }}
<div class="row">
    <form class="col s12">
      <div class="row"><br>
		
		<div class="row">
			<div class="input-field col s6">
			{{md-select content=content
				value=name
				label="Current Publications"
				prompt="Please choose..."
				optionLabelPath="content.name"
				optionValuePath="content" class="col s12"}}
			</div>
		</div><hr><br>
		
		<div class="row">
			<h5>Publication Details</h5>
			<div class="row">
				<label for="pubType">Current Group Members</label><br>
				<div class="chip">
					Stephen
					<i class="material-icons">close</i>
				</div>
				<div class="chip">
					James
					<i class="material-icons">close</i>
				</div>
				<div class="chip">
					Simon
					<i class="material-icons">close</i>
				</div>
			</div><br>
			
			<h6>Group Members</h6><br>			
			<div class="row" >
				<div class="input-field col s6">
				{{md-select content=row.members
					value=name
					label="Add Group Member"
					prompt="Please choose..."
					optionLabelPath="content.name"
					optionValuePath="content" class="col s12"}}					
				</div>
			</div>
			
			<div class="row">				
				<div class="input-field col s6">
					<input id="input_text" type="text" length="25">
					<label for="input_text">Add Group Member </label>
				</div>
			</div>
		</div>
      </div>
	  <button class="btn waves-effect waves-light blue" type="submit" name="action">Submit
	  <i class="material-icons right">send</i></button>
    </form>
</div>
{{/navigation-component }}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}