<form action="POST">
	<div class="input-field">
			<label for="name">Research Group Name: </label>
	        <input id="name" type="text" required>
	        <i class="material-icons">Add Research Group</i>
	</div>
</form>