<div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
</div>
{{#md-table content=content class='bordered centered responsive-table' as |row|}}
  {{#md-table-col row=row key='name' header='Reasearch Group Name'}}
    {{row.name}}
  {{/md-table-col}}

  {{#md-table-col row=row key='researchGroup' header='Action'}}
    {{md-btn class='yellow white-text' text='Reactivate'}}
  {{/md-table-col}}
{{/md-table}}