 <div class="row">
 	<form class="col s12" style="padding-top:20px" action="POST">
 		<div class="row">
 			<div class="input-field col s12 m5">
 				<input placeholder="Placeholder" id="research-group-name" type="text" class="validate">
 				<label for="research-group-name">Researcher Category</label>
 			</div>
 		
 				{{md-input-date label='Effective Date' value=dateValue class="col s12 m5"}}

 				<div class="input-field col s12 m2">
 				<input placeholder="Placeholder" id="outputTarget" type="text" class="validate">
 				<label for="outputTarget">Output Target</label>
 			</div>
 		</div>
 		<div class="row">
 			<div class="input-field right-align col s12 m12">
 				{{md-btn class='green white-text' text='Add Researcher Category'}}
 			</div> 
 		</div>
 	</form>
 </div>
