<div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
</div>
{{#md-table content=content class='bordered centered' as |row|}}
  {{#md-table-col row=row key='name' header='Reasearcher Category'}}
    {{row.name}}
  {{/md-table-col}}

  {{#md-table-col row=row key='researchGroup' header='Action'}}
    {{#link-to 'researcherCategory.modifyResearcherCategory'}}
    {{md-btn class='yellow white-text' text='Modify'}}
    {{/link-to}}
  {{/md-table-col}}

{{/md-table}}