{{#navigation-component title='Researcher Support System' }}
	<br>
	<div class="row">
		<div class="col s3 m3 l3" style="visibility: hidden;">.</div>
		<div class="col s6 m6 l6">
			{{md-input value="" label='Email' type="email" class="col s12" validate=true}}
			{{md-input value="" label='Password' type="password" class="col s12" validate=true}}
			{{#link-to 'persons'}}{{md-btn-submit icon='mdi-content-send'	iconPosition='right' text='Sign in' class="col s12"}}{{/link-to}}
		</div>
		<div class="col s3 m3 l3"> </div>
	</div>
{{/navigation-component}}