{{#navigation-component title='List of testable features'}}
    <div class="featureslist">
        <div>
            <h5>Here you would put the feature name</h5>
            <p>
                <span>Here you would put the feature description</span><br/>
                Here you would put instructions on the steps required to use the feature.
            </p>    
            
            {{#link-to 'testing'}}
                {{md-btn text='Link to feature starting page' class='teal'}}
            {{/link-to}}    
        </div>
    </div>
    
    
{{/navigation-component }}


{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}